<clr-modal [(clrModalOpen)]="show" [clrModalClosable]="false">
    <h3 class="modal-title">Изменение единицы: <br> {{itemName}}</h3>
    <div class="modal-body">
        <form #editForm="ngForm">
            <section class="form-block">
                <div class="form-group">
                    <label>Название (модель):</label>
                    <label for="nameInput" aria-haspopup="true" role="tooltip" [class.invalid]="name.touched && !name.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="text" id="nameInput" required [(ngModel)]="editingItem.name" name="name" #name="ngModel">
                        <span class="tooltip-content">Обязательное поле!</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Серийный номер:</label>
                    <label for="numberInput" aria-haspopup="true" role="tooltip" [class.invalid]="number.touched && !number.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <input type="number" id="numberInput" required [(ngModel)]="editingItem.serNumber" name="number" #number="ngModel">
                        <span class="tooltip-content">Обязательное поле!</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Категория:</label>
                    <label for="typeSelector" aria-haspopup="true" role="tooltip" [class.invalid]="select.touched && !select.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                <div class="select">
                  <select class="clr-select"required [(ngModel)]="editingItem.category"  name="typeSelector" #select="ngModel" >
                    <option value="{{editingItem.category}}" class="ng-star-inserted" selected = "selected"> {{editingItem.category}} </option>
                    <option value="{{cat.name}}" *ngFor="let cat of categories" class="ng-star-inserted"> {{cat.name}} </option>
                  </select>
                  <span class="tooltip-content"></span>
                </div>
              </label>
                </div>
                <div class="form-group">
                    <label>Текущее состояние:</label>
                    <label for="statusInput" aria-haspopup="true" role="tooltip" [class.invalid]="status.touched && !status.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
              <input type="text" id="statusInput" required [(ngModel)]="editingItem.status" name="status" #status="ngModel">
              <span class="tooltip-content">Обязательное поле!</span>
            </label>
                </div>
                <div class="form-group">
                    <label for="empSelector">Сотрудник для закрепления:</label>
                    <div class="select">
                        <select name="empSelector" #select="ngModel" [(ngModel)]="editingItem.empFio">
                    <option value="{{editingItem.empFio}}" class="ng-star-inserted" selected = "selected"> {{editingItem.empFio}} </option>
                    <option value="{{emp.fio}}" *ngFor="let emp of emps" class="ng-star-inserted"> {{emp.fio}} </option>
                    <option value="" class="ng-star-inserted"> Не назначен </option>
                  </select>
                    </div>
                </div>
            </section>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="editCancel()">Отмена</button>
        <button *ngIf="!editForm.valid" type="button" class="btn btn-primary" disabled>Сохранить</button>
        <button *ngIf="editForm.valid" type="button" class="btn btn-success" (click)="editItem()">Сохранить</button>
    </div>
</clr-modal>