<title>{{title}}</title>

<div id="page-preloader" class="preloader" *ngIf="!contentReady">
    <div class="loading-container">
        <div class="spinner"></div>
        <div class="spinner-center"></div>
        <div class="loading-text">
            <div class="cssload-preloader">
                <span>L</span>
                <span>o</span>
                <span>a</span>
                <span>d</span>
                <span>i</span>
                <span>n</span>
                <span>g</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </div>
        </div>
    </div>
</div>

<div id="content-selector" *ngIf="contentReady">
    <ul class="select-list">
        <li id="titleOfSelector">Вид:</li>
        <li class="active"><a routerLink="/inventory" id="select-inventory">Инвентарные единицы</a></li>
        <li><a routerLink="/staff" id="select-employee">Персонал</a></li>
    </ul>
</div>

<div id="inventory" *ngIf="contentReady">
    <section class="filters">
        <ul class="filter-list filter-group">
            <li [ngClass]="{'active': filterBy === 'all'}">
                <a routerLink="/inventory/all">Все категории</a>
            </li>
            <li *ngFor="let cat of categories" [ngClass]="{'active': cat.label === filterBy}">
                <a routerLink="/inventory/{{cat.label}}">
                    {{cat.name}}
                  </a>
            </li>
        </ul>
    </section>

    <div class="search" *ngIf="contentReady">
        <input [(ngModel)]="searchField" type="text" (keyup)="search()" placeholder="Поиск по модели (серийному номеру)">
    </div>
</div>
<div class="items-table" *ngIf="contentReady">
    <h2 *ngIf="emptyCategoryContent">Контента пока нет!</h2>
    <h3 *ngIf="emptySearchResult && !emptyCategoryContent">По запросу "{{searchField}}" ничего не найдено. Проверьте запрос или <a routerLink="/inventory/all">поищите среди всего инвентаря</a>.
    </h3>
    <table *ngIf="!emptySearchResult && !emptyCategoryContent">
        <tr>
            <th>Наименование единицы</th>
            <th>Серийный номер</th>
            <th>Тип</th>
            <th>Сотрудник</th>
            <th>Дата присвоения единицы</th>
            <th>Состояние</th>
        </tr>
        <tr *ngFor="let item of items">
            <td><a routerLink="/item/{{item.id}}">{{item.name}}</a></td>
            <td>{{item.serNumber}}</td>
            <td>{{item.type}}</td>
            <td><a routerLink="/employee/{{item.emp.id}}">{{item.emp.fio}}</a></td>
            <td>{{item.date}}</td>
            <td>{{item.status}}</td>
        </tr>
    </table>
</div>