<title>{{title}}</title>

<div id="page-preloader" class="preloader" *ngIf="!contentReady">
    <div class="loading-container">
        <div class="my-spinner"></div>
        <div class="my-spinner-center"></div>
        <div class="loading-text">
            <div class="cssload-preloader">
                <span>L</span>
                <span>o</span>
                <span>a</span>
                <span>d</span>
                <span>i</span>
                <span>n</span>
                <span>g</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </div>
        </div>
    </div>
</div>

<div class="item-inf clr-col" *ngIf="contentReady">
    <h1>{{item.type}} {{item.name}} ({{item.serNumber}})</h1>
    <h3>Состояние: {{item.status}}</h3>
    <h2 *ngIf="item.emp.id !== null; else noEmp">Закреплен(а) за <a routerLink="/employee/{{item.emp.id}}">{{item.emp.fio}}</a></h2>
    <ng-template #noEmp>
        <h2> Нет закрепленного сотрудника </h2>
    </ng-template>
</div>

<clr-datagrid class="clr-col" *ngIf="contentReady">
    <clr-dg-placeholder>История пуста</clr-dg-placeholder>
    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Причина ремонта</ng-container>
    </clr-dg-column>
    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Дата отвоза в ремонт</ng-container>
    </clr-dg-column>
    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Дата привоза из ремонта</ng-container>
    </clr-dg-column>
    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Сервисный центр</ng-container>
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let visit of item.history">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="onEdit(user)">Изменить</button>
            <button class="action-item" (click)="onDelete(user)">Удалить</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{visit.reason}}</clr-dg-cell>
        <clr-dg-cell>{{visit.indate}}</clr-dg-cell>
        <clr-dg-cell>{{visit.outdate}}</clr-dg-cell>
        <clr-dg-cell>{{visit.serviceCenter}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-column-toggle>
            <clr-dg-column-toggle-title>Столбцы</clr-dg-column-toggle-title>
            <clr-dg-column-toggle-button>Показать все</clr-dg-column-toggle-button>
        </clr-dg-column-toggle>
    </clr-dg-footer>
</clr-datagrid>