<title>{{title}}</title>

<div id="page-preloader" class="preloader" *ngIf="!contentReady">
    <div class="loading-container">
        <div class="my-spinner"></div>
        <div class="my-spinner-center"></div>
        <div class="loading-text">
            <div class="cssload-preloader">
                <span>L</span>
                <span>o</span>
                <span>a</span>
                <span>d</span>
                <span>i</span>
                <span>n</span>
                <span>g</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </div>
        </div>
    </div>
</div>
<app-emp-wizard #empWizard (empAdded)="getEmpsOfCurrentDep()"></app-emp-wizard>
<app-emps-edit-modal #editModal (empEdited)="getEmpsOfCurrentDep()" (empEditCanceled)="getEmpsOfCurrentDep()"></app-emps-edit-modal>
<h3 class="text-center">{{currentDep}}</h3>
<div class="clr-row clr-justify-content-end">
    <form class="search" *ngIf="contentReady">
        <label for="search_input">
          <app-search-field [(searchQuery)]="searchField" (keyup)="search()"></app-search-field>
      </label>
    </form>
    <button class="btn clr-offset-1" (click)="empWizard.show = true">Добавить</button>
</div>
<clr-datagrid *ngIf="contentReady" [clrDgLoading]="loading">
    <clr-dg-placeholder>Увы! Запрашиваемый контент не найден :(</clr-dg-placeholder>
    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">ФИО сотрудника</ng-container>
    </clr-dg-column>
    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Отдел</ng-container>
    </clr-dg-column>
    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Дата поступления на работу</ng-container>
    </clr-dg-column>
    <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">Ответственный(ая) за категорию на сайте</ng-container>
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let emp of staff; let i = index">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="editEmp(i)">Изменить</button>
            <button class="action-item" (click)="deleteEmp(emp.id)">Удалить</button>
        </clr-dg-action-overflow>
        <clr-dg-cell><a routerLink="/employee/{{emp.id}}">{{emp.fio}}</a></clr-dg-cell>
        <clr-dg-cell>{{emp.dep}}</clr-dg-cell>
        <clr-dg-cell>{{emp.startWorking}}</clr-dg-cell>
        <clr-dg-cell>
            <a *ngIf="emp.cat !== ''; else noCat" routerLink="/inventory/{{emp.catLabel}}">{{emp.cat}}</a>
            <ng-template #noCat>
                Нет категории
            </ng-template>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-column-toggle>
            <clr-dg-column-toggle-title>Столбцы</clr-dg-column-toggle-title>
            <clr-dg-column-toggle-button>Показать все</clr-dg-column-toggle-button>
        </clr-dg-column-toggle>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
            <clr-dg-page-size [clrPageSizeOptions]="[1,2,5,10]">Сотрудников на странице</clr-dg-page-size>
            с {{pagination.firstItem + 1}} по {{pagination.lastItem + 1}} из {{pagination.totalItems}} всего
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>