#employee{
  display: grid;
  grid-template-columns: 39% max-content auto;
  grid-template-rows: max-content max-content;
}

@media screen and (max-width:590px){
  #employee{
      grid-template-columns:max-content;
      grid-template-rows: max-content max-content; 
}
}