<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a routerLink="/" class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">WIS Software</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger>
                  Admin
                  <clr-icon shape="caret down"></clr-icon>
              </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="/" clrDropdownItem>Выйти</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
        <nav class="sidenav" [clr-nav-level]="1" style="background-color: #eeeeee;">
            <app-navbar-left></app-navbar-left>
        </nav>
    </div>
</clr-main-container>