$select-list-color : #578530;

$userlink-color: #3b5325;
$userlink-hover-color: #699741;
$headerline-color:#82c34f;
$border-color:#578530;


// -----------------------------------------------------------HEADER------------------------------------------------------------
header{
  display: grid;
  grid-template-columns: max-content auto max-content;
  border-bottom: 1px solid $headerline-color;
.logo{
  grid-column: 1;
}

.user{
  grid-column: 3;
  align-self: center;
  padding-right: 10px;
      a{
        text-decoration: none;
        color: $userlink-color;
        transition: .2s;
      }
      a:hover{
        color: $userlink-hover-color;
      }
  }
}

#username{
  padding-right: 5px;
}

#sign-out{
  padding-left: 5px;
  border-left: 1px solid black;
}

#logo{
    height: 40px;
}
// -----------------------------------------------------------END HEADER------------------------------------------------------------


